<!doctype html>
<html>
<head>


    <meta charset="utf-8">
    <title>Mangled date examples</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.8.0.css">
</head>
<body>

    <h3>test</h3>

    <ul>
        <li class="entry">
            <p>blah blah blah...</p>
            <small class="extra">
                Posted <span class="time">
                    <a href="#2008/01/blah/57/" title="2008-01-28T20:24:17Z">
                        <span>January 28th, 2008</span>
                    </a>
                </span>
                by <span class="author"><a href="#john/">John Resig</a></span>
            </small>
        </li>
        <!-- more list items -->
    </ul>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <button onclick="">click me</button>
    <input id="test-input" type="text"/>
    <span>xxx</span>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/qunit/qunit-2.8.0.js"></script>
    <script src="prettydate.js"></script>
    <script src="tests.js"></script>



    <script>


        function testreturn() {

            var day_diff = 0;
            var diff = 50;

            return diff < 60 && "just now"
                || diff < 120 && "1 minute ago";

            //return day_diff == 0 && (
            //    diff < 60 && "just now"
            //    || diff < 120 && "1 minute ago");
        }

        window.onload = function () {
            var links = document.getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                if (links[i].title) {
                    var date = prettyDate("2008-01-28T22:25:00Z",
                        links[i].title);
                    if (date) {
                        links[i].innerHTML = date;
                    }
                }
            }


        };
    </script>
</body>
</html>